# Alles ignorieren ...
*

# ... außer den erlaubten Web-App-Dateien für Sebastian
!.gitignore
!Sebastian/
!Sebastian/index.html
!Sebastian/sebastian_jobs_dashboard.html
!Sebastian/manifest.json
!Sebastian/sw.js
!Sebastian/icon.svg
